<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="xyz.zhtdemo.bbs.dao.Index_Head_PliotDao">
	<select id="getIndex_Head_PliotDao" resultType="xyz.zhtdemo.bbs.entity.Index_Head_PliotEnt">
		select id,pliot_name,pliot_url from index_head_pliot
	</select>
</mapper>
